@use "../abstracts/colors.scss";
@use "../abstracts/mixings" as *;

.card {
  width: 100%;
  position: relative;

  &_img {
    width: 100%;

    @include lg {
      width: initial;
    }
  }

  &_title {
    text-align: left;
    max-width: 45%;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: colors.$White;

    @include lg {
      font-size: 2rem;
    }
  }

  &:hover {
    .card_img {
      filter: opacity(45%);
      transition: all ease-in-out 0.2s;
    }

    .card_title {
      color: colors.$Black;
      transition: all ease-in-out 0.2s;
    }
  }

  @include lg {
    width: auto;
    height: auto;
  }
}
