@use "../abstracts/colors.scss";
@use "../abstracts/mixings" as *;

$Alata: "Alata", sans-serif;
$Josefin-sans: "Josefin Sans", sans-serif;

.title {
  text-transform: uppercase;
  color: colors.$Black;
  font-weight: 300;

  @include lg {
    font-size: 2.5rem;
  }
}
